nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
    z-index: 1000;         /* Stays above other elements */
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.logo-img {
    width: 20px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    padding-left: 10px;
}

.menu{
    flex-grow: 1; /* Allows the menu to expand and take available space */
    text-align: center; /* Centers the links */
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex; /* Keeps the links inline and centered */
}

.menu ul li {
    margin-right: 20px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu ul li a:hover {
    color: #ffcc00; /* Change color on hover */
}

.menu ul li a.active {
    color: #ffcc00; /* Change color for active link */
}

/* MobileMenu icon */
.mobileMenu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.mobileMenu span {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
    transition: all 0.3s;
}

/* New styles for the open state of the mobile menu */
.mobileMenu.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 11px); /* Rotate top bar */
}

.mobileMenu.open span:nth-child(2) {
    opacity: 0; /* Hide the middle bar */
}

.mobileMenu.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -11px); /* Rotate bottom bar */
}

/* Mobile styles */
@media (max-width: 768px) {
    /* Hide the regular menu on small screens */
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 54px;
        right: 0;
        background-color: #333;
        width: 100%;
        text-align: left; /* Aligns the whole menu to the left */
        z-index: 1100;     /* Ensure it appears above other content */
    }

    /* When the menu is open, display it */
    .menu.open {
        display: flex;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu ul li {
        margin: 10px 0;
        padding-left: 20px;
    }

    /* Display hamburger menu icon on small screens */
    .mobileMenu {
        display: flex;
    }
}
