/* Center the content */
.app-container {
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-family: Arial, sans-serif; /*Sets the font for the Header*/
    font-size: 2em;
    margin-bottom: 20px;
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: column; /* Stack the input groups vertically */
    align-items: center;
    text-align: left;
}

.input-group {
    display: flex;
    flex-direction: row; /* Place label and input side by side */
    align-items: center;  /* Align label and input vertically */
    margin-bottom: 15px;
}

label {
    font-size: 1.1em;
    margin-right: 10px; /* Add space between label and input */
    width: 100px; /* Ensure labels have consistent width */
    text-align: right; /* Right-align the labels */
}

input {
    padding: 10px;
    width: 170px; /* Adjust input field width */
    border-radius: 5px; /* Adjust input box radius */
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px; /*Size of Button*/
    margin-top: 10px;
    background-color: #0abab5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
